<div class="panel-body">

      <!-- List group -->

      <ul class="list-group">

          <% @topics.each do |topic| %>
          <li class="list-group-item">
              
          </li>
          <% end %>
      </ul>


  </div>

  

